.App {
  color: white;
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  width: 100vw;
}

@media only screen and (max-width: 600px) {
  .Settings {
    width: 100vw !important;
    position: fixed !important;
    z-index: 7;
  }
}

.Settings {
  min-width: fit-content;
  width: 30vw;
  background-color: var(--theme-blue);
  height: 100vh;
  overflow: scroll;
  position: relative;
}

.Settings-Title {
  font-size: 2.3em;
}

.Settings-Cross {
  float: right;
  padding: 0;
  background-color: transparent;
}

.menu-button {
  position: fixed;
  font-size: 3em;
  padding: 5px 15px;
  background-color: transparent;
  z-index: 10;
}

.Inside-Scroll {
  padding: 30px;
}

.Graph {
  background-color: black;
  height: 100vh;
  flex: 1;
}
